In [1]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import yfinance as yf
from scipy.optimize import minimize
from pypfopt import expected_returns, risk_models, EfficientFrontier

In [2]:
tickers = ('AAPL', 'NVDA')

In [5]:
conn = sqlite3.connect('sp500_stocks.db')
cursor = conn.cursor()
cursor.execute(f"SELECT ticker, date, close FROM price WHERE ticker IN {tuple(tickers)} AND date BETWEEN '2025-01-01' AND '2025-08-01'")
data = cursor.fetchall()
conn.close()
df = pd.DataFrame(data, columns=['ticker', 'date', 'close'])
df = df.pivot(index='date', columns='ticker', values='close').dropna()
df

ticker                     AAPL        NVDA
date
2025-01-02 00:00:00  243.263199  138.287674
2025-01-03 00:00:00  242.774368  144.446686
2025-01-06 00:00:00  244.410416  149.405869
2025-01-07 00:00:00  241.627136  140.117371
2025-01-08 00:00:00  242.115936  140.087387
...                         ...         ...
2025-07-25 00:00:00  213.880005  173.500000
2025-07-28 00:00:00  214.050003  176.750000
2025-07-29 00:00:00  211.270004  175.509995
2025-07-30 00:00:00  209.050003  179.270004
2025-07-31 00:00:00  207.570007  177.869995

[144 rows x 2 columns]

In [9]:
df['Value']=0

In [10]:
allocation = [50,50]

In [14]:
for i in range(len(tickers)):
    df['Value'] += (1 + df.iloc[:,i].pct_change()).cumprod() * (1000 * allocation[i] /100)

In [15]:
df

ticker                     AAPL        NVDA        Value
date
2025-01-02 00:00:00  243.263199  138.287674          NaN
2025-01-03 00:00:00  242.774368  144.446686  1021.264103
2025-01-06 00:00:00  244.410416  149.405869  1042.557488
2025-01-07 00:00:00  241.627136  140.117371  1003.252803
2025-01-08 00:00:00  242.115936  140.087387  1004.149067
...                         ...         ...          ...
2025-07-25 00:00:00  213.880005  173.500000  1066.921657
2025-07-28 00:00:00  214.050003  176.750000  1079.021936
2025-07-29 00:00:00  211.270004  175.509995  1068.824535
2025-07-30 00:00:00  209.050003  179.270004  1077.856458
2025-07-31 00:00:00  207.570007  177.869995  1069.752549

[144 rows x 3 columns]

In [310]:
returns = df.pct_change().dropna()
returns

ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WY,WYNN,XEL,XOM,XYL,XYZ,YUM,ZBH,ZBRA,ZTS
date,,,,,,,,,,,,,,,,,,,,,
2024-03-28 00:00:00,-0.012621,-0.010559,0.009703,-0.008713,0.001586,0.010494,0.016630,0.000397,0.023069,-0.002858,...,-0.000557,0.004323,0.006931,0.011046,-0.001082,0.016831,0.009685,-0.004751,0.007621,0.004154
2024-04-01 00:00:00,0.001969,-0.008456,-0.007359,-0.009639,-0.013813,-0.001406,-0.021465,-0.004974,-0.005915,-0.007324,...,-0.009746,0.042355,-0.008744,0.006452,-0.004643,-0.036888,0.013127,-0.016896,-0.001460,-0.012942
2024-04-02 00:00:00,-0.009550,-0.006999,-0.000387,-0.019955,-0.000624,-0.008883,-0.007990,-0.005736,-0.008850,0.005613,...,-0.003656,-0.012200,0.015015,0.019574,-0.004042,-0.027621,0.001708,-0.009865,-0.014950,-0.012034
2024-04-03 00:00:00,-0.003052,0.004797,-0.018595,-0.004809,-0.006606,0.008088,-0.012423,-0.004407,0.002463,-0.000797,...,-0.013830,0.011020,0.000185,0.000168,0.005776,0.005555,-0.012082,0.011987,-0.012648,-0.012363
2024-04-04 00:00:00,-0.016628,-0.004892,-0.053178,-0.003138,-0.010514,-0.012361,-0.005447,-0.019919,-0.017455,0.009417,...,-0.008586,-0.002819,-0.005916,0.003520,-0.012494,-0.061770,-0.019639,-0.018845,0.000717,0.015647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-07-29 00:00:00,0.002510,-0.012988,0.014322,-0.037423,0.013138,-0.004393,0.006714,0.003329,-0.000087,-0.010226,...,0.002318,-0.016986,0.016868,0.012922,-0.002268,-0.029664,0.006168,-0.010731,-0.009232,0.001725
2025-07-30 00:00:00,-0.014937,-0.010508,-0.009989,-0.015273,0.004218,-0.005922,-0.017569,-0.018074,0.001560,0.018450,...,-0.015420,0.001371,0.000691,-0.008682,-0.010306,-0.007547,0.012467,-0.017167,0.002382,-0.014569
2025-07-31 00:00:00,-0.027446,-0.007080,-0.001532,-0.017365,-0.018359,0.005256,-0.025182,-0.017335,-0.028039,-0.018478,...,-0.019186,-0.004565,0.014505,-0.002324,0.107351,-0.004253,-0.019321,-0.017895,0.019946,-0.020294
2025-08-01 00:00:00,-0.011410,-0.025004,0.032801,-0.033155,0.008717,0.022542,-0.043916,-0.027650,-0.012999,-0.006091,...,0.001198,-0.010089,0.000408,-0.017915,-0.016872,-0.041807,0.008394,-0.011238,-0.011150,0.010906
2025-08-04 00:00:00,0.011806,0.004793,0.010091,0.022965,0.020740,0.005795,0.013353,-0.025733,0.003112,0.009471,...,0.007576,-0.008153,0.010480,-0.020704,0.012590,0.028232,0.011282,0.019642,0.018256,0.030058

In [9]:
df['Change'] = df['AAPL'].pct_change()
(df['Change'] + 1).cumprod()

date
2024-03-27 00:00:00         NaN
2024-03-28 00:00:00    0.989441
2024-04-01 00:00:00    0.981074
2024-04-02 00:00:00    0.974208
2024-04-03 00:00:00    0.978882
                         ...
2025-07-29 00:00:00    1.226392
2025-07-30 00:00:00    1.213505
2025-07-31 00:00:00    1.204914
2025-08-01 00:00:00    1.174787
2025-08-04 00:00:00    1.180417
Name: Change, Length: 339, dtype: float64

In [311]:
mu = expected_returns.mean_historical_return(df)
S = risk_models.sample_cov(df)

c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\pypfopt\risk_models.py:70: UserWarning: The covariance matrix is non positive semidefinite. Amending eigenvalues.
  warnings.warn(
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\pypfopt\risk_models.py:89: UserWarning: Could not fix matrix. Please try a different risk model.
  warnings.warn(

In [312]:
ef = EfficientFrontier(mu, S)
weights = ef.max_sharpe(risk_free_rate=0.05)
cleaned_weights = ef.clean_weights()
print("Optimal Weights:", cleaned_weights)

Optimal Weights: OrderedDict([('A', 0.0), ('AAPL', 0.0), ('ABBV', 0.0), ('ABNB', 0.0), ('ABT', 0.0), ('ACGL', 0.0), ('ACN', 0.0), ('ADBE', 0.0), ('ADI', 0.0), ('ADM', 0.0), ('ADP', 0.0), ('ADSK', 0.0), ('AEE', 0.0), ('AEP', 0.0), ('AES', 0.0), ('AFL', 0.0), ('AIG', 0.0), ('AIZ', 0.0), ('AJG', 0.0), ('AKAM', 0.0), ('ALB', 0.0), ('ALGN', 0.0), ('ALL', 0.0), ('ALLE', 0.0), ('AMAT', 0.0), ('AMCR', 0.0), ('AMD', 0.0), ('AME', 0.0), ('AMGN', 0.0), ('AMP', 0.0), ('AMT', 0.0), ('AMZN', 0.0), ('ANET', 0.0), ('AON', 0.0), ('AOS', 0.0), ('APA', 0.0), ('APD', 0.0), ('APH', 0.0), ('APO', 0.0), ('APTV', 0.0), ('ARE', 0.0), ('ATO', 0.0), ('AVB', 0.0), ('AVGO', 0.0), ('AVY', 0.0), ('AWK', 0.0), ('AXON', 0.0), ('AXP', 0.0), ('AZO', 0.0), ('BA', 0.0), ('BAC', 0.0), ('BALL', 0.0), ('BAX', 0.0), ('BBY', 0.0), ('BDX', 0.0), ('BEN', 0.0), ('BF-B', 0.0), ('BG', 0.0), ('BIIB', 0.0), ('BK', 0.0), ('BKNG', 0.0), ('BKR', 0.0), ('BLDR', 0.0), ('BLK', 0.0), ('BMY', 0.0), ('BR', 0.0), ('BRK-B', 0.0), ('BRO', 0.0), ('BSX', 0.0), ('BX', 0.0), ('BXP', 0.0), ('C', 0.0), ('CAG', 0.0), ('CAH', 0.0), ('CARR', 0.0), ('CAT', 0.0), ('CB', 0.0), ('CBOE', 0.12328), ('CBRE', 0.0), ('CCI', 0.0), ('CCL', 0.0), ('CDNS', 0.0), ('CDW', 0.0), ('CEG', 0.0), ('CF', 0.0), ('CFG', 0.0), ('CHD', 0.0), ('CHRW', 0.0), ('CHTR', 0.0), ('CI', 0.0), ('CINF', 0.0), ('CL', 0.0), ('CLX', 0.0), ('CMCSA', 0.0), ('CME', 0.0), ('CMG', 0.0), ('CMI', 0.0), ('CMS', 0.0), ('CNC', 0.0), ('CNP', 0.0), ('COF', 0.0), ('COIN', 0.0), ('COO', 0.0), ('COP', 0.0), ('COR', 0.0), ('COST', 0.0), ('CPAY', 0.0), ('CPB', 0.0), ('CPRT', 0.0), ('CPT', 0.0), ('CRL', 0.0), ('CRM', 0.0), ('CRWD', 0.0), ('CSCO', 0.0), ('CSGP', 0.0), ('CSX', 0.0), ('CTAS', 0.0), ('CTRA', 0.0), ('CTSH', 0.0), ('CTVA', 0.0), ('CVS', 0.0), ('CVX', 0.0), ('CZR', 0.0), ('D', 0.0), ('DAL', 0.0), ('DASH', 0.0), ('DAY', 0.0), ('DD', 0.0), ('DDOG', 0.0), ('DE', 0.0), ('DECK', 0.0), ('DELL', 0.0), ('DG', 0.0), ('DGX', 0.0), ('DHI', 0.0), ('DHR', 0.0), ('DIS', 0.0), ('DLR', 0.0), ('DLTR', 0.0), ('DOC', 0.0), ('DOV', 0.0), ('DOW', 0.0), ('DPZ', 0.0), ('DRI', 0.0), ('DTE', 0.0), ('DUK', 0.0), ('DVA', 0.0), ('DVN', 0.0), ('DXCM', 0.0), ('EA', 0.0), ('EBAY', 0.03647), ('ECL', 0.0), ('ED', 0.0), ('EFX', 0.0), ('EG', 0.0), ('EIX', 0.0), ('EL', 0.0), ('ELV', 0.0), ('EMN', 0.0), ('EMR', 0.0), ('ENPH', 0.0), ('EOG', 0.0), ('EPAM', 0.0), ('EQIX', 0.0), ('EQR', 0.0), ('EQT', 0.0), ('ERIE', 0.0), ('ES', 0.0), ('ESS', 0.0), ('ETN', 0.0), ('ETR', 0.0), ('EVRG', 0.0), ('EW', 0.0), ('EXC', 0.0), ('EXE', 0.0), ('EXPD', 0.0), ('EXPE', 0.0), ('EXR', 0.0), ('F', 0.0), ('FANG', 0.0), ('FAST', 0.0), ('FCX', 0.0), ('FDS', 0.0), ('FDX', 0.0), ('FE', 0.0), ('FFIV', 0.0), ('FI', 0.0), ('FICO', 0.0), ('FIS', 0.0), ('FITB', 0.0), ('FOX', 0.0), ('FOXA', 0.0), ('FRT', 0.0), ('FSLR', 0.0), ('FTNT', 0.0), ('FTV', 0.0), ('GD', 0.0), ('GDDY', 0.0), ('GE', 0.0), ('GEHC', 0.0), ('GEN', 0.0), ('GEV', 0.14529), ('GILD', 0.08163), ('GIS', 0.0), ('GL', 0.0), ('GLW', 0.0), ('GM', 0.0), ('GNRC', 0.0), ('GOOG', 0.0), ('GOOGL', 0.0), ('GPC', 0.0), ('GPN', 0.0), ('GRMN', 0.0), ('GS', 0.0), ('GWW', 0.0), ('HAL', 0.0), ('HAS', 0.0), ('HBAN', 0.0), ('HCA', 0.0), ('HD', 0.0), ('HIG', 0.0), ('HII', 0.0), ('HLT', 0.0), ('HOLX', 0.0), ('HON', 0.0), ('HPE', 0.0), ('HPQ', 0.0), ('HRL', 0.0), ('HSIC', 0.0), ('HST', 0.0), ('HSY', 0.0), ('HUBB', 0.0), ('HUM', 0.0), ('HWM', 0.0), ('IBM', 0.0), ('ICE', 0.0), ('IDXX', 0.0), ('IEX', 0.0), ('IFF', 0.0), ('INCY', 0.0), ('INTC', 0.0), ('INTU', 0.0), ('INVH', 0.0), ('IP', 0.0), ('IPG', 0.0), ('IQV', 0.0), ('IR', 0.0), ('IRM', 0.0), ('ISRG', 0.0), ('IT', 0.0), ('ITW', 0.0), ('IVZ', 0.0), ('J', 0.0), ('JBHT', 0.0), ('JBL', 0.0), ('JCI', 0.0), ('JKHY', 0.0), ('JNJ', 0.0), ('JPM', 0.0), ('K', 0.18104), ('KDP', 0.0), ('KEY', 0.0), ('KEYS', 0.0), ('KHC', 0.0), ('KIM', 0.0), ('KKR', 0.0), ('KLAC', 0.0), ('KMB', 0.0), ('KMI', 0.0), ('KMX', 0.0), ('KO', 0.0), ('KR', 0.0), ('KVUE', 0.0), ('L', 0.0), ('LDOS', 0.0), ('LEN', 0.0), ('LH', 0.0), ('LHX', 0.0), ('LII', 0.0), ('LIN', 0.0), ('LKQ', 0.0), ('LLY', 0.0), ('LMT', 0.0), ('LNT', 0.0), ('LOW', 0.0), ('LRCX', 0.0), ('LULU', 0.0), ('LUV', 0.0), ('LVS', 0.0), ('LW', 0.0), ('LYB', 0.0), ('LYV', 0.0), ('MA', 0.0), ('MAA', 0.0), ('MAR', 0.0), ('MAS', 0.0), ('MCD', 0.0), ('MCHP', 0.0), ('MCK', 0.00118), ('MCO', 0.0), ('MDLZ', 0.0), ('MDT', 0.0), ('MET', 0.0), ('META', 0.0), ('MGM', 0.0), ('MHK', 0.0), ('MKC', 0.0), ('MKTX', 0.0), ('MLM', 0.0), ('MMC', 0.0), ('MMM', 0.0), ('MNST', 0.0), ('MO', 0.16237), ('MOH', 0.0), ('MOS', 0.0), ('MPC', 0.0), ('MPWR', 0.0), ('MRK', 0.0), ('MRNA', 0.0), ('MS', 0.0), ('MSCI', 0.0), ('MSFT', 0.0), ('MSI', 0.0), ('MTB', 0.0), ('MTCH', 0.0), ('MTD', 0.0), ('MU', 0.0), ('NCLH', 0.0), ('NDAQ', 0.0), ('NDSN', 0.0), ('NEE', 0.0), ('NEM', 0.0), ('NFLX', 0.0), ('NI', 0.0), ('NKE', 0.0), ('NOC', 0.0), ('NOW', 0.0), ('NRG', 0.0), ('NSC', 0.0), ('NTAP', 0.0), ('NTRS', 0.0), ('NUE', 0.0), ('NVDA', 0.0), ('NVR', 0.0), ('NWS', 0.0), ('NWSA', 0.0), ('NXPI', 0.0), ('O', 0.0), ('ODFL', 0.0), ('OKE', 0.0), ('OMC', 0.0), ('ON', 0.0), ('ORCL', 0.0), ('ORLY', 0.0), ('OTIS', 0.0), ('OXY', 0.0), ('PANW', 0.0), ('PARA', 0.0), ('PAYC', 0.0), ('PAYX', 0.0), ('PCAR', 0.0), ('PCG', 0.0), ('PEG', 0.0), ('PEP', 0.0), ('PFE', 0.0), ('PFG', 0.0), ('PG', 0.0), ('PGR', 0.0), ('PH', 0.0), ('PHM', 0.0), ('PKG', 0.0), ('PLD', 0.0), ('PLTR', 0.11462), ('PM', 0.05666), ('PNC', 0.0), ('PNR', 0.0), ('PNW', 0.0), ('PODD', 0.0), ('POOL', 0.0), ('PPG', 0.0), ('PPL', 0.0), ('PRU', 0.0), ('PSA', 0.0), ('PSX', 0.0), ('PTC', 0.0), ('PWR', 0.0), ('PYPL', 0.0), ('QCOM', 0.0), ('RCL', 0.0), ('REG', 0.0), ('REGN', 0.0), ('RF', 0.0), ('RJF', 0.0), ('RL', 0.0), ('RMD', 0.0), ('ROK', 0.0), ('ROL', 0.0), ('ROP', 0.0), ('ROST', 0.0), ('RSG', 0.0), ('RTX', 0.0), ('RVTY', 0.0), ('SBAC', 0.0), ('SBUX', 0.0), ('SCHW', 0.0), ('SHW', 0.0), ('SJM', 0.0), ('SLB', 0.0), ('SMCI', 0.0), ('SNA', 0.0), ('SNPS', 0.0), ('SO', 0.0), ('SOLV', 0.0), ('SPG', 0.0), ('SPGI', 0.0), ('SRE', 0.0), ('STE', 0.0), ('STLD', 0.0), ('STT', 0.0), ('STX', 0.0), ('STZ', 0.0), ('SW', 0.0), ('SWK', 0.0), ('SWKS', 0.0), ('SYF', 0.0), ('SYK', 0.0), ('SYY', 0.0), ('T', 0.06171), ('TAP', 0.0), ('TDG', 0.0), ('TDY', 0.0), ('TECH', 0.0), ('TEL', 0.0), ('TER', 0.0), ('TFC', 0.0), ('TGT', 0.0), ('TJX', 0.0), ('TKO', 0.0), ('TMO', 0.0), ('TMUS', 0.0), ('TPL', 0.0), ('TPR', 0.0), ('TRGP', 0.0), ('TRMB', 0.0), ('TROW', 0.0), ('TRV', 0.0), ('TSCO', 0.0), ('TSLA', 0.0), ('TSN', 0.0), ('TT', 0.0), ('TTD', 0.0), ('TTWO', 0.0), ('TXN', 0.0), ('TXT', 0.0), ('TYL', 0.0), ('UAL', 0.0), ('UBER', 0.0), ('UDR', 0.0), ('UHS', 0.0), ('ULTA', 0.0), ('UNH', 0.0), ('UNP', 0.0), ('UPS', 0.0), ('URI', 0.0), ('USB', 0.0), ('V', 0.0), ('VICI', 0.0), ('VLO', 0.0), ('VLTO', 0.0), ('VMC', 0.0), ('VRSK', 0.0), ('VRSN', 0.0), ('VRTX', 0.0), ('VST', 0.0), ('VTR', 0.0), ('VTRS', 0.0), ('VZ', 0.0), ('WAB', 0.0), ('WAT', 0.0), ('WBA', 0.0), ('WBD', 0.0), ('WDAY', 0.0), ('WDC', 0.0), ('WEC', 0.0), ('WELL', 0.03574), ('WFC', 0.0), ('WM', 0.0), ('WMB', 0.0), ('WMT', 0.0), ('WRB', 0.0), ('WSM', 0.0), ('WST', 0.0), ('WTW', 0.0), ('WY', 0.0), ('WYNN', 0.0), ('XEL', 0.0), ('XOM', 0.0), ('XYL', 0.0), ('XYZ', 0.0), ('YUM', 0.0), ('ZBH', 0.0), ('ZBRA', 0.0), ('ZTS', 0.0)])

In [313]:
ef.portfolio_performance(verbose=True, risk_free_rate=0.05)

Expected annual return: 99.4%
Annual volatility: 15.3%
Sharpe Ratio: 6.19

(0.994445671354342, 0.1526726367766476, 6.18608344818213)