In [68]:
import sqlite3
import yfinance as yf
import pandas as pd
import numpy as np

In [69]:
conn = sqlite3.connect('sp500_stocks.db')
cursor = conn.cursor()

# Sectors, industry and sub-industry

In [70]:
mapping = pd.read_csv('gics_mapping.csv')
mapping = mapping.applymap(lambda x: x.strip() if type(x) == str else x)
mapping.head()

,sector_id,sector,industry_id,industry,sub_industry_id,sub_industry
0,1,Energy,101,Energy Equipment & Services,10101,Oil & Gas Drilling
1,1,Energy,101,Energy Equipment & Services,10102,Oil & Gas Equipment & Services
2,1,Energy,102,"Oil, Gas & Consumable Fuels",10201,Integrated Oil & Gas
3,1,Energy,102,"Oil, Gas & Consumable Fuels",10202,Oil & Gas Exploration & Production
4,1,Energy,102,"Oil, Gas & Consumable Fuels",10203,Oil & Gas Refining & Marketing

In [71]:
#Populate sectors
sector_data = mapping[['sector_id', 'sector']].drop_duplicates()
sector_insert_data = []
for i in range(0, sector_data.shape[0]):
    # Ensure sector_id is int and sector is str
    sector_insert_data.append((int(sector_data['sector_id'].iloc[i]), str(sector_data['sector'].iloc[i])))
insert_sectors = """
INSERT OR IGNORE INTO sectors (sector_id, sector) 
VALUES (?, ?)"""

cursor.executemany(insert_sectors, sector_insert_data)

In [72]:
type(sector_insert_data[0][0])

int

In [73]:
# Populate industries
industry_data = mapping[['sector_id', 'industry_id', 'industry']].drop_duplicates()
industry_insert_data = []
for i in range(0, industry_data.shape[0]):
    industry_insert_data.append((int(industry_data['sector_id'].iloc[i]), int(industry_data['industry_id'].iloc[i]), str(industry_data['industry'].iloc[i])))
insert_industry = """
INSERT OR IGNORE INTO industries (sector_id, industry_id, industry) 
VALUES (?, ?, ?)"""
cursor.executemany(insert_industry, industry_insert_data)

In [74]:
# Populate sub-industries
sub_industry_data = mapping[['sector_id', 'industry_id', 'sub_industry_id', 'sub_industry']].drop_duplicates()
sub_industry_insert_data = []
for i in range(0, sub_industry_data.shape[0]):
    sub_industry_insert_data.append((int(sub_industry_data['sector_id'].iloc[i]), int(sub_industry_data['industry_id'].iloc[i]), int(sub_industry_data['sub_industry_id'].iloc[i]), str(sub_industry_data['sub_industry'].iloc[i])))
insert_sub_industry = """
INSERT OR IGNORE INTO sub_industries (sector_id, industry_id, sub_industry_id, sub_industry) 
VALUES (?, ?, ?, ?)"""
cursor.executemany(insert_sub_industry, sub_industry_insert_data)

In [75]:
sub_industry_data.loc[sub_industry_data['sub_industry_id'].duplicated(keep=False),:]

Empty DataFrame
Columns: [sector_id, industry_id, sub_industry_id, sub_industry]
Index: []

In [76]:
cursor.execute("SELECT * FROM sectors")
sectors = cursor.fetchall() 
sectors_df = pd.DataFrame(sectors, columns=['sector_id', 'sector'])
sectors_df

    sector_id                  sector
0           1                  Energy
1           2               Materials
2           3             Industrials
3           4               Utilities
4           5             Health Care
5           6              Financials
6           7  Consumer Discretionary
7           8        Consumer Staples
8           9  Information Technology
9          10  Communication Services
10         11             Real Estate

In [77]:
cursor.execute("SELECT * FROM industries")
industries = cursor.fetchall()
industries_df = pd.DataFrame(industries, columns=['industry_id', 'sector_id', 'industry'])
industries_df

    industry_id  sector_id                              industry
0             1        101           Energy Equipment & Services
1             1        102           Oil, Gas & Consumable Fuels
2             2        201                             Chemicals
3             2        202                Construction Materials
4             2        203                Containers & Packaging
..          ...        ...                                   ...
68           11       1105                     Health Care REITs
69           11       1106                     Residential REITs
70           11       1107                          Retail REITs
71           11       1108                     Specialized REITs
72           11       1109  Real Estate Management & Development

[73 rows x 3 columns]

In [78]:
cursor.execute("SELECT * FROM sub_industries")
sub_industries = cursor.fetchall()
sub_industries_df = pd.DataFrame(sub_industries, columns=['sub_industry_id', 'sector_id', 'industry_id', 'sub_industry'])
sub_industries_df

,sub_industry_id,sector_id,industry_id,sub_industry
0,1,101,10101,Oil & Gas Drilling
1,1,101,10102,Oil & Gas Equipment & Services
2,1,102,10201,Integrated Oil & Gas
3,1,102,10202,Oil & Gas Exploration & Production
4,1,102,10203,Oil & Gas Refining & Marketing
...,...,...,...,...
158,11,1108,110805,Data Center REITs
159,11,1109,110901,Diversified Real Estate Activities
160,11,1109,110902,Real Estate Operating Companies
161,11,1109,110903,Real Estate Development
162,11,1109,110904,Real Estate Services

# Stock Information

In [79]:
sp_comp_tickers = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['Symbol'].to_list()
sp_comp_sub_industries = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['GICS Sub-Industry'].to_list()
sp_comp_data = []
for ticker, sub_ind in zip(sp_comp_tickers, sp_comp_sub_industries):
    ticker = ticker.replace('.', '-')  # Replace '.' with '-' for yfinance compatibility
    print(f"Fetching data for {ticker}...")
    stock = yf.Ticker(ticker).info
    sp_comp_data.append((stock['symbol'], stock['shortName'], stock['sector'], sub_ind, stock['marketCap'], stock['longBusinessSummary']))

Fetching data for MMM...
Fetching data for AOS...
Fetching data for ABT...
Fetching data for ABBV...
Fetching data for ACN...
Fetching data for ADBE...
Fetching data for AMD...
Fetching data for AES...
Fetching data for AFL...
Fetching data for A...
Fetching data for APD...
Fetching data for ABNB...
Fetching data for AKAM...
Fetching data for ALB...
Fetching data for ARE...
Fetching data for ALGN...
Fetching data for ALLE...
Fetching data for LNT...
Fetching data for ALL...
Fetching data for GOOGL...
Fetching data for GOOG...
Fetching data for MO...
Fetching data for AMZN...
Fetching data for AMCR...
Fetching data for AEE...
Fetching data for AEP...
Fetching data for AXP...
Fetching data for AIG...
Fetching data for AMT...
Fetching data for AWK...
Fetching data for AMP...
Fetching data for AME...
Fetching data for AMGN...
Fetching data for APH...
Fetching data for ADI...
Fetching data for AON...
Fetching data for APA...
Fetching data for APO...
Fetching data for AAPL...
Fetching data for AMAT...
Fetching data for APTV...
Fetching data for ACGL...
Fetching data for ADM...
Fetching data for ANET...
Fetching data for AJG...
Fetching data for AIZ...
Fetching data for T...
Fetching data for ATO...
Fetching data for ADSK...
Fetching data for ADP...
Fetching data for AZO...
Fetching data for AVB...
Fetching data for AVY...
Fetching data for AXON...
Fetching data for BKR...
Fetching data for BALL...
Fetching data for BAC...
Fetching data for BAX...
Fetching data for BDX...
Fetching data for BRK-B...
Fetching data for BBY...
Fetching data for TECH...
Fetching data for BIIB...
Fetching data for BLK...
Fetching data for BX...
Fetching data for XYZ...
Fetching data for BK...
Fetching data for BA...
Fetching data for BKNG...
Fetching data for BSX...
Fetching data for BMY...
Fetching data for AVGO...
Fetching data for BR...
Fetching data for BRO...
Fetching data for BF-B...
Fetching data for BLDR...
Fetching data for BG...
Fetching data for BXP...
Fetching data for CHRW...
Fetching data for CDNS...
Fetching data for CZR...
Fetching data for CPT...
Fetching data for CPB...
Fetching data for COF...
Fetching data for CAH...
Fetching data for KMX...
Fetching data for CCL...
Fetching data for CARR...
Fetching data for CAT...
Fetching data for CBOE...
Fetching data for CBRE...
Fetching data for CDW...
Fetching data for COR...
Fetching data for CNC...
Fetching data for CNP...
Fetching data for CF...
Fetching data for CRL...
Fetching data for SCHW...
Fetching data for CHTR...
Fetching data for CVX...
Fetching data for CMG...
Fetching data for CB...
Fetching data for CHD...
Fetching data for CI...
Fetching data for CINF...
Fetching data for CTAS...
Fetching data for CSCO...
Fetching data for C...
Fetching data for CFG...
Fetching data for CLX...
Fetching data for CME...
Fetching data for CMS...
Fetching data for KO...
Fetching data for CTSH...
Fetching data for COIN...
Fetching data for CL...
Fetching data for CMCSA...
Fetching data for CAG...
Fetching data for COP...
Fetching data for ED...
Fetching data for STZ...
Fetching data for CEG...
Fetching data for COO...
Fetching data for CPRT...
Fetching data for GLW...
Fetching data for CPAY...
Fetching data for CTVA...
Fetching data for CSGP...
Fetching data for COST...
Fetching data for CTRA...
Fetching data for CRWD...
Fetching data for CCI...
Fetching data for CSX...
Fetching data for CMI...
Fetching data for CVS...
Fetching data for DHR...
Fetching data for DRI...
Fetching data for DDOG...
Fetching data for DVA...
Fetching data for DAY...
Fetching data for DECK...
Fetching data for DE...
Fetching data for DELL...
Fetching data for DAL...
Fetching data for DVN...
Fetching data for DXCM...
Fetching data for FANG...
Fetching data for DLR...
Fetching data for DG...
Fetching data for DLTR...
Fetching data for D...
Fetching data for DPZ...
Fetching data for DASH...
Fetching data for DOV...
Fetching data for DOW...
Fetching data for DHI...
Fetching data for DTE...
Fetching data for DUK...
Fetching data for DD...
Fetching data for EMN...
Fetching data for ETN...
Fetching data for EBAY...
Fetching data for ECL...
Fetching data for EIX...
Fetching data for EW...
Fetching data for EA...
Fetching data for ELV...
Fetching data for EMR...
Fetching data for ENPH...
Fetching data for ETR...
Fetching data for EOG...
Fetching data for EPAM...
Fetching data for EQT...
Fetching data for EFX...
Fetching data for EQIX...
Fetching data for EQR...
Fetching data for ERIE...
Fetching data for ESS...
Fetching data for EL...
Fetching data for EG...
Fetching data for EVRG...
Fetching data for ES...
Fetching data for EXC...
Fetching data for EXE...
Fetching data for EXPE...
Fetching data for EXPD...
Fetching data for EXR...
Fetching data for XOM...
Fetching data for FFIV...
Fetching data for FDS...
Fetching data for FICO...
Fetching data for FAST...
Fetching data for FRT...
Fetching data for FDX...
Fetching data for FIS...
Fetching data for FITB...
Fetching data for FSLR...
Fetching data for FE...
Fetching data for FI...
Fetching data for F...
Fetching data for FTNT...
Fetching data for FTV...
Fetching data for FOXA...
Fetching data for FOX...
Fetching data for BEN...
Fetching data for FCX...
Fetching data for GRMN...
Fetching data for IT...
Fetching data for GE...
Fetching data for GEHC...
Fetching data for GEV...
Fetching data for GEN...
Fetching data for GNRC...
Fetching data for GD...
Fetching data for GIS...
Fetching data for GM...
Fetching data for GPC...
Fetching data for GILD...
Fetching data for GPN...
Fetching data for GL...
Fetching data for GDDY...
Fetching data for GS...
Fetching data for HAL...
Fetching data for HIG...
Fetching data for HAS...
Fetching data for HCA...
Fetching data for DOC...
Fetching data for HSIC...
Fetching data for HSY...
Fetching data for HPE...
Fetching data for HLT...
Fetching data for HOLX...
Fetching data for HD...
Fetching data for HON...
Fetching data for HRL...
Fetching data for HST...
Fetching data for HWM...
Fetching data for HPQ...
Fetching data for HUBB...
Fetching data for HUM...
Fetching data for HBAN...
Fetching data for HII...
Fetching data for IBM...
Fetching data for IEX...
Fetching data for IDXX...
Fetching data for ITW...
Fetching data for INCY...
Fetching data for IR...
Fetching data for PODD...
Fetching data for INTC...
Fetching data for ICE...
Fetching data for IFF...
Fetching data for IP...
Fetching data for IPG...
Fetching data for INTU...
Fetching data for ISRG...
Fetching data for IVZ...
Fetching data for INVH...
Fetching data for IQV...
Fetching data for IRM...
Fetching data for JBHT...
Fetching data for JBL...
Fetching data for JKHY...
Fetching data for J...
Fetching data for JNJ...
Fetching data for JCI...
Fetching data for JPM...
Fetching data for K...
Fetching data for KVUE...
Fetching data for KDP...
Fetching data for KEY...
Fetching data for KEYS...
Fetching data for KMB...
Fetching data for KIM...
Fetching data for KMI...
Fetching data for KKR...
Fetching data for KLAC...
Fetching data for KHC...
Fetching data for KR...
Fetching data for LHX...
Fetching data for LH...
Fetching data for LRCX...
Fetching data for LW...
Fetching data for LVS...
Fetching data for LDOS...
Fetching data for LEN...
Fetching data for LII...
Fetching data for LLY...
Fetching data for LIN...
Fetching data for LYV...
Fetching data for LKQ...
Fetching data for LMT...
Fetching data for L...
Fetching data for LOW...
Fetching data for LULU...
Fetching data for LYB...
Fetching data for MTB...
Fetching data for MPC...
Fetching data for MKTX...
Fetching data for MAR...
Fetching data for MMC...
Fetching data for MLM...
Fetching data for MAS...
Fetching data for MA...
Fetching data for MTCH...
Fetching data for MKC...
Fetching data for MCD...
Fetching data for MCK...
Fetching data for MDT...
Fetching data for MRK...
Fetching data for META...
Fetching data for MET...
Fetching data for MTD...
Fetching data for MGM...
Fetching data for MCHP...
Fetching data for MU...
Fetching data for MSFT...
Fetching data for MAA...
Fetching data for MRNA...
Fetching data for MHK...
Fetching data for MOH...
Fetching data for TAP...
Fetching data for MDLZ...
Fetching data for MPWR...
Fetching data for MNST...
Fetching data for MCO...
Fetching data for MS...
Fetching data for MOS...
Fetching data for MSI...
Fetching data for MSCI...
Fetching data for NDAQ...
Fetching data for NTAP...
Fetching data for NFLX...
Fetching data for NEM...
Fetching data for NWSA...
Fetching data for NWS...
Fetching data for NEE...
Fetching data for NKE...
Fetching data for NI...
Fetching data for NDSN...
Fetching data for NSC...
Fetching data for NTRS...
Fetching data for NOC...
Fetching data for NCLH...
Fetching data for NRG...
Fetching data for NUE...
Fetching data for NVDA...
Fetching data for NVR...
Fetching data for NXPI...
Fetching data for ORLY...
Fetching data for OXY...
Fetching data for ODFL...
Fetching data for OMC...
Fetching data for ON...
Fetching data for OKE...
Fetching data for ORCL...
Fetching data for OTIS...
Fetching data for PCAR...
Fetching data for PKG...
Fetching data for PLTR...
Fetching data for PANW...
Fetching data for PARA...
Fetching data for PH...
Fetching data for PAYX...
Fetching data for PAYC...
Fetching data for PYPL...
Fetching data for PNR...
Fetching data for PEP...
Fetching data for PFE...
Fetching data for PCG...
Fetching data for PM...
Fetching data for PSX...
Fetching data for PNW...
Fetching data for PNC...
Fetching data for POOL...
Fetching data for PPG...
Fetching data for PPL...
Fetching data for PFG...
Fetching data for PG...
Fetching data for PGR...
Fetching data for PLD...
Fetching data for PRU...
Fetching data for PEG...
Fetching data for PTC...
Fetching data for PSA...
Fetching data for PHM...
Fetching data for PWR...
Fetching data for QCOM...
Fetching data for DGX...
Fetching data for RL...
Fetching data for RJF...
Fetching data for RTX...
Fetching data for O...
Fetching data for REG...
Fetching data for REGN...
Fetching data for RF...
Fetching data for RSG...
Fetching data for RMD...
Fetching data for RVTY...
Fetching data for ROK...
Fetching data for ROL...
Fetching data for ROP...
Fetching data for ROST...
Fetching data for RCL...
Fetching data for SPGI...
Fetching data for CRM...
Fetching data for SBAC...
Fetching data for SLB...
Fetching data for STX...
Fetching data for SRE...
Fetching data for NOW...
Fetching data for SHW...
Fetching data for SPG...
Fetching data for SWKS...
Fetching data for SJM...
Fetching data for SW...
Fetching data for SNA...
Fetching data for SOLV...
Fetching data for SO...
Fetching data for LUV...
Fetching data for SWK...
Fetching data for SBUX...
Fetching data for STT...
Fetching data for STLD...
Fetching data for STE...
Fetching data for SYK...
Fetching data for SMCI...
Fetching data for SYF...
Fetching data for SNPS...
Fetching data for SYY...
Fetching data for TMUS...
Fetching data for TROW...
Fetching data for TTWO...
Fetching data for TPR...
Fetching data for TRGP...
Fetching data for TGT...
Fetching data for TEL...
Fetching data for TDY...
Fetching data for TER...
Fetching data for TSLA...
Fetching data for TXN...
Fetching data for TPL...
Fetching data for TXT...
Fetching data for TMO...
Fetching data for TJX...
Fetching data for TKO...
Fetching data for TTD...
Fetching data for TSCO...
Fetching data for TT...
Fetching data for TDG...
Fetching data for TRV...
Fetching data for TRMB...
Fetching data for TFC...
Fetching data for TYL...
Fetching data for TSN...
Fetching data for USB...
Fetching data for UBER...
Fetching data for UDR...
Fetching data for ULTA...
Fetching data for UNP...
Fetching data for UAL...
Fetching data for UPS...
Fetching data for URI...
Fetching data for UNH...
Fetching data for UHS...
Fetching data for VLO...
Fetching data for VTR...
Fetching data for VLTO...
Fetching data for VRSN...
Fetching data for VRSK...
Fetching data for VZ...
Fetching data for VRTX...
Fetching data for VTRS...
Fetching data for VICI...
Fetching data for V...
Fetching data for VST...
Fetching data for VMC...
Fetching data for WRB...
Fetching data for GWW...
Fetching data for WAB...
Fetching data for WBA...
Fetching data for WMT...
Fetching data for DIS...
Fetching data for WBD...
Fetching data for WM...
Fetching data for WAT...
Fetching data for WEC...
Fetching data for WFC...
Fetching data for WELL...
Fetching data for WST...
Fetching data for WDC...
Fetching data for WY...
Fetching data for WSM...
Fetching data for WMB...
Fetching data for WTW...
Fetching data for WDAY...
Fetching data for WYNN...
Fetching data for XEL...
Fetching data for XYL...
Fetching data for YUM...
Fetching data for ZBRA...
Fetching data for ZBH...
Fetching data for ZTS...

In [80]:
insert_stock_info = """
INSERT OR IGNORE INTO companies (ticker, name, sector, industry, market_cap, description)
VALUES (?, ?, ?, ?, ?, ?)"""
cursor.executemany(insert_stock_info, sp_comp_data)

## Matching companies sectors and industries to according tables

In [81]:
cursor.execute("SELECT * FROM industries WHERE sector_id = 8")
sectors = cursor.fetchall()
industries_df = pd.DataFrame(sectors, columns=['industry_id', 'sector_id', 'industry'])
industries_df

   industry_id  sector_id                                industry
0            8        801  Consumer Staples Distribution & Retail
1            8        802                               Beverages
2            8        803                           Food Products
3            8        804                                 Tobacco
4            8        805                      Household Products
5            8        806                  Personal Care Products

In [82]:
update_statement = """
    UPDATE companies
    SET sector = CASE sector
        WHEN 'Energy' THEN 1
        WHEN 'Basic Materials' THEN 2
        WHEN 'Industrials' THEN 3
        WHEN 'Utilities' THEN 4
        WHEN 'Healthcare' THEN 5
        WHEN 'Financial Services' THEN 6
        WHEN 'Consumer Cyclical' THEN 7
        WHEN 'Consumer Defensive' THEN 8
        WHEN 'Technology' THEN 9
        WHEN 'Communication Services' THEN 10
        WHEN 'Real Estate' THEN 11
        ELSE sector
    END
"""
cursor.execute(update_statement)

In [83]:
update_statement = """ 
    UPDATE companies
    SET industry = (SELECT sub_industry_id FROM sub_industries WHERE sub_industries.sub_industry = companies.industry)
    WHERE EXISTS (
    SELECT 1
    FROM sub_industries
    WHERE sub_industries.sub_industry = companies.industry
)
"""
cursor.execute(update_statement)

In [84]:
test_query = """
SELECT * FROM companies
ORDER BY market_cap DESC
"""
cursor.execute(test_query)
top_companies = cursor.fetchall()
top_companies_df = pd.DataFrame(top_companies, columns=['ticker', 'name', 'sector', 'industry', 'market_cap', 'description'])
top_companies_df['industry'].unique()

array([ 90602,  90202,  90401, 100501,  70802,  60202,  70201,  60101,
        80104,  90201,  50501,  60205, 100401,  10201,  70903,  80601,
        50401,  80203,  30101, 100201,  90301,  80401,  90101,  60402,
        50101,  70604,  20104,  50204,  60401,  60301,  30601, 100102,
        31303,  30402,  50601,  70602,  60404,  30401,  40301,  90601,
        60604,  70901,  30501,  30602,  31301,  90502,  30901, 100303,
        10202, 110501,  70501,  40101,  70702, 110803,  30201, 110201,
        60601,  30802,  30603,  30804,  50201,  50203,  20105,  70905,
        80302,  50202, 110805,  10204,  31001,  20404,  80501, 110701,
        90503,  30301,  90501,  20403,  30701,  60602,  10203,  10102,
       110802,  20103,  80103, 110904,  70303,  60603,  70301, 100301,
       100402,  80102,  30902,  20201,  70601, 110301,  31101,  40501,
        20407, 100302,  70904,  31302,  80202,  60102,  30903,  40401,
       110801, 110601,  80301,  90102,  40201,  20302,  70906,  90504,
       110602, 110804,  70801, 100304,  50102,  20301,  20101,  70502,
        70101,  60605,  70902, 110401,  50301,  70401,  80101,  80201,
        70302], dtype=int64)

In [87]:
top_companies_df

,ticker,name,sector,industry,market_cap,description
0,NVDA,NVIDIA Corporation,9,90602,4.236614e+12,"NVIDIA Corporation, a computing infrastructure..."
1,MSFT,Microsoft Corporation,9,90202,3.895799e+12,Microsoft Corporation develops and supports so...
2,AAPL,Apple Inc.,9,90401,3.003400e+12,"Apple Inc. designs, manufactures, and markets ..."
3,GOOG,Alphabet Inc.,10,100501,2.291785e+12,Alphabet Inc. offers various products and plat...
4,GOOGL,Alphabet Inc.,10,100501,2.291783e+12,Alphabet Inc. offers various products and plat...
...,...,...,...,...,...,...
498,MHK,"Mohawk Industries, Inc.",7,70302,7.249550e+09,"Mohawk Industries, Inc. designs, manufactures,..."
499,EMN,Eastman Chemical Company,2,20105,6.787894e+09,Eastman Chemical Company operates as a special...
500,APA,APA Corporation,1,10202,6.661198e+09,"APA Corporation, an independent energy company..."
501,CZR,"Caesars Entertainment, Inc.",7,70601,5.341235e+09,"Caesars Entertainment, Inc. operates as a gami..."
502,ENPH,"Enphase Energy, Inc.",9,90601,4.109504e+09,"Enphase Energy, Inc., together with its subsid..."

In [86]:
# Commit changes and close the connection
conn.commit()
conn.close()