In [1]:
import sqlite3

In [2]:
# Set up database
conn = sqlite3.connect('sp500_stocks.db') # Create or connect to the db file
cursor = conn.cursor() # Create a cursor to excute command

In [3]:
# Create neccessary tables
# Ticker info table
statement = """
    CREATE TABLE IF NOT EXISTS companies (
        ticker TEXT PRIMARY KEY,
        name TEXT NOT NULL,
        sector INTEGER,
        industry INTEGER,
        market_cap REAL,
        description TEXT,
        FOREIGN KEY (sector) REFERENCES sectors(sector_id),
        FOREIGN KEY (industry) REFERENCES industries(industry_id)
    )
"""
# If you want to override the table, use DROP TABLE first, then CREATE TABLE
cursor.execute(statement)

In [ ]:
# Price info table
statement = """
    CREATE TABLE IF NOT EXISTS price (
    ticker TEXT,
    date DATE,
    open REAL,
    high REAL,
    low REAL,
    close REAL,
    volume INTEGER,
    PRIMARY KEY (ticker, date),
    FOREIGN KEY (ticker) REFERENCES companies(ticker)

)
"""
cursor.execute(statement)

In [5]:
# Sector info table
statement = """
    CREATE TABLE IF NOT EXISTS sectors (
        sector_id INTEGER PRIMARY KEY,
        sector TEXT
    )
"""
cursor.execute(statement)

In [6]:
# Industry info table
statement = """
    CREATE TABLE IF NOT EXISTS industries (
        sector_id INTEGER,
        industry_id INTEGER PRIMARY KEY,
        industry TEXT,
        FOREIGN KEY (sector_id) REFERENCES sectors(sector_id)
    )"""
cursor.execute(statement)

In [3]:
cursor.execute("DROP TABLE sub_industries")

In [5]:
# Sub-industry info table
statement = """
    CREATE TABLE IF NOT EXISTS sub_industries (
        industry_id INTEGER,
        sub_industry_id INTEGER PRIMARY KEY,
        sub_industry TEXT,
        FOREIGN KEY (industry_id) REFERENCES industries(industry_id)
    )
"""
cursor.execute(statement)

In [8]:
# Commit changes and close the connection
conn.commit()
conn.close()